@keyframes spin {
  100% {
    background-position: 100%;
  }
}
@-webkit-keyframes spin {
  100% {
    background-position: 100%;
  }
}
@-moz-keyframes spin {
  100% {
    background-position: 100%;
  }
}
@-ms-keyframes spin {
  100% {
    background-position: 100%;
  }
}
@-o-keyframes spin {
  100% {
    background-position: 100%;
  }
}

// @keyframes
// @-moz-keyframes
// @-webkit-keyframes
// @-o-keyframes
