$col-brand: #262258;
$col-primary: #1970B3;
$col-primary-light: #26A7E0;
$col-accent: #FCB415;
$txt-heading: #262258;
$txt-body: #4C4B68;
$txt-body-accent: #FCB415;
$col-white: #FFFFFF;
$col-menu-bg: #1970B3;
