.app-nav-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;

  .top-nav__inner {
    @include column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $col-primary-light;
    z-index: 400;
    @include respond(tab) {
      background-color: transparent;
      position: static;
      top: 0;
      @include flex-space-between;
      height: auto;
    }

    .middle-nav {
      @include column;
      align-items: center;
      @include respond(tab) {
        @include row;
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: calculate-rem(37px);
        }
        @include respond(tab) {
          &:not(:last-child) {
            margin-right: calculate-rem(60px);
            margin-bottom: 0;
          }
        }
      }

      .middle-nav__link {
        @include transition-color;
        color: $col-white;
        font-size: calculate-rem(12px);
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        text-shadow: 0.5px 0.5px $txt-heading;
        cursor: pointer;

        &:hover,
        &:active {
          color: lighten($color: $col-primary-light, $amount: 5%);
        }

        @include respond(tab) {
          font-family: Roboto Slab;
          font-size: 1rem;
          line-height: 21px;
        }
      }
    }

    .mobile-contact-cta {
      margin-top: 17px;
      color: $col-white;
      font-weight: 700;
      text-shadow: 0.3px 0.3px $txt-heading;

      @include respond(tab) {
        margin-top: 0;
        font-weight: 400;
      }
    }

    .mobile-nav-footer {
      @include column;
      align-items: center;
      margin-top: 100px;
      @include respond(tab) {
        display: none;
      }

      .mobile-footer-link {
        font-size: calculate-rem(12px);
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $col-white;

        &:not(:last-child) {
          margin-bottom: 22px;
        }
      }

      .social-icon-wrap {
        @include row;
        gap: 0 50px;
        width: 100%;
        justify-content: center;
        margin-top: 10px;

        .social-icon {
          width: 30px;
          height: 30px;

          &:hover path {
            @include transition;
            &:hover {
              fill: $col-accent;
            }
            &:focus {
              fill: darken($color: $col-accent, $amount: 5%);
            }
            &:active {
              fill: darken($color: $col-accent, $amount: 6%);
            }
          }

          path {
            fill: $col-white;
          }
        }
      }
    }
  }
}

.nav {
  display: none;

  // @include respond(tab) {
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  //   z-index: 10;
  // }
}
.web-nav {
  display: none;
  @include respond(tab) {
    display: flex;
    @include transition;
    position: static;
    width: 100%;
    background: transparent;
    padding: 26px 30px 0 30px;
  }
}
[class].scroll {
  padding: 10px 30px 10px 30px;
  background: linear-gradient(180deg, #1970b3 0%, #003157 100%);
  box-shadow: 0px 4px 10px rgba(0, 90, 130, 0.3);
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0;

  & .web-logo {
    width: 90px;
    height: auto;
    &:hover {
      cursor: pointer;
    }
  }

  & .contact-nav-cta {
    width: 150px;
    height: 50px;
  }
}

.active {
  display: block;
  z-index: 500;
}

// position .toggle on far right
.toggle.active {
  display: block;
  background: url('/assets/icons/closemenu-icon.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: none;
  z-index: 500;
  height: 30px;
}

.toggle {
  background: transparent;
  border: none;
  position: absolute;
  right: 38px;
  top: 26px;
  width: 30px;
  height: 14px;
  background: url('/assets/icons/hamburger-menu.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 500;
}
.web-logo {
  width: 100px;
  display: none;
  @include respond(tab) {
    display: block;
    width: 115px;
    height: 72px;
    &:hover {
      cursor: pointer;
    }
  }
}
.mobile-logo {
  width: 75px;
  height: 47px;
  display: block;
  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 500;
  @include respond(tab) {
    display: none;
  }
}

// hide toggle on larger screens
@include respond(tab) {
  .toggle {
    display: none;
  }
}

.app-nav-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.3);
  mix-blend-mode: overlay;
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100%;
  @include column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @include respond(tab) {
    padding: 0;
  }

  &__mini-header {
    font-size: calculate-rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $txt-body-accent;
    margin-bottom: $m10;
    width: 100vw;
    padding: 0 calculate-rem(31px);
    text-shadow: 0.5px 0.5px $txt-heading;

    @include respond(tab) {
      font-size: calculate-rem(20px);
      line-height: 30px;
    }
  }
  &__header {
    @include h1;
    color: $col-white;
    width: 100vw;
    text-align: center;
    margin-bottom: $m100;
    padding: 0 calculate-rem(31px);
    text-shadow: 0.2px 0.2px $txt-heading;

    @include respond(tab) {
      margin-bottom: $m50;
    }

    & .block-hero {
      @include respond(tab) {
        display: block;
      }
    }
  }
}
