$m100: calculate-rem(100px);
$m80: calculate-rem(80px);
$m60: calculate-rem(60px);
$m70: calculate-rem(70px);
$m50: calculate-rem(50px);
$m40: calculate-rem(40px);
$m30: calculate-rem(30px);
$m20: calculate-rem(20px);
$m10: calculate-rem(10px);

.block {
  display: block;
}
.bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
